/* -------------- REGLAS GENERALES ---------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #5e5e5e;
}


/* -------------- MAIN ---------------- */

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buscador {
    width: 100%;
    padding: 3rem 2rem;
    margin-bottom: 3rem;
    background-color: #f9f6f1;
}

h2 {
    font-size: 1.9rem;
    color: black;
    margin-bottom: 1rem;
}

.buscador p {
    width: 40%;
    min-width: 300px;
    margin-bottom: 1rem;
}

.contenedor-busqueda {
    position: relative;
}

input.barra-busqueda {
    position: relative;
    max-width: 250px;
    padding: 1rem 0 1rem 2.5rem;
    border: 2px solid #ddd;
    background-image: url('../Assets/Search\ Icon.svg');
    background-position: 5%;
    background-repeat: no-repeat;
    font-size: 1rem;
    font-weight: bold;
    outline: 0;
}

button, 
input.boton-busqueda {
    max-width: 250px;
    padding: 1rem 1.5rem;
    margin-left: 1rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: bold;
    color: #f8f8f8;
    background-color: black;
    margin-bottom: 1rem;
}

.contenedor-busqueda ul {
    position: absolute;
    width: 100%;
    max-width: 236px;
    margin-top: 0.2rem;
    list-style-type: none;
    background-color: white;
    z-index: 1;
}

.contenedor-busqueda li {
    display: none;
    border: 1px solid #dde;
    padding: 0.5rem 0 0.5rem 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.loader {
    display: none;
    position: relative;
    left: 50%;
    width: 80px;
    height: 80px;
    border: 10px solid lightgray;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    margin-left: -50px;
    margin-top: 3rem;
    z-index: 1;
    -webkit-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes girar {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

.resultado-busqueda {
    display: none;
    font-size: 1.2rem;
}

.elemento-campground {
    width: 30%;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    margin-bottom: 1.5rem;
    border: 2px solid #ddd;
}

.contenedor-imagen {
    margin-bottom: 0.5rem;
}

.contenedor-imagen img {
    width: 100%;
    object-fit: cover;
}

.elemento-campground h3 {
    color: black;
    margin-bottom: 0.5rem;
}

.elemento-campground p {
    margin-bottom: 1rem;
    line-height: 1.4;
}

.elemento-campground a {
    display: inline-block; /* como "a" es inline, hay que cambiar el display a tipo block para que se aplique el 'width: 100%' */
    width: 100%;
    padding: 0.5rem 0;
    border: 2px solid #ddd;
    color: black;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}



@media screen and (max-width: 950px) {

    /* ------------ MAIN ---------- */

    .buscador {
        margin-bottom: 2rem;
        padding-right: 1rem;
    }

    .elemento-campground {
        width: 47%;
    }
}


@media screen and (max-width: 500px) {

    /* -------------- MAIN ---------------- */

    .buscador {
        padding: 2rem 1rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    .buscador p {
        width: 100%;
        min-width: 0;
    }

    .buscador a {
        font-size: 0.8rem;
    }

    input {
        width: 100%;
        max-width: 500px;
        margin-bottom: 0.5rem;
    }

    input.barra-busqueda {
        font-size: 0.8rem;
    }

    input.boton-busqueda {
        width: 100%;
        margin-left: 0;
    }

    .contenedor-busqueda ul {
        max-width: 250px;
        top: 50px;
    }

    .loader {
        width: 40px;
        height: 40px;
    }

    .resultado-busqueda {
        font-size: 1rem;
    }

    .elemento-campground {
        width: 100%;
    }

    /* CAMBIAR ESTILOS EN < 500PX PARA EL LOADER QUE NO APARECE Y 
    LA LISTA DE AUTOCOMPLETE QUE CUBRE TODO EL BOTON DE SEARCH */
}